#header {
  background-color: #f1f3f2;
  filter: drop-shadow(0.5px 0.866px 2.5px rgba(0, 0, 0, 0.51));
  position: sticky;
  top: 0;
  z-index: 9999;
}
#header .container {
  padding: 0 15px;
  margin: auto;
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0 10px 0;
}
#header .container .logo a img {
  width: 155px;
  height: 35px;
}
#header .container .menu {
  position: absolute;
  top: 22px;
  right: 20px;
  z-index: 3;
  display: none;
}
#header .container .menu i {
  font-size: 25px;
  cursor: pointer;
}
#header .container .navbar {
  padding: 6px;
}
#header .container .navbar ul li {
  display: inline-block;
  list-style-type: none;
}
#header .container .navbar ul li a {
  text-decoration: none;
  color: #252525;
  font-size: 14px;
  padding: 0 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial;
  position: relative;
}
#header .container .navbar ul li a:hover {
  color: #000000;
}
#header .container .navbar ul li a img {
  position: absolute;
  bottom: -15px;
}

@media screen and (max-width: 750px) {
  html {
    font-size: 45%;
  }
  html #header .logo {
    padding-left: 30px;
  }
  html #header .menu {
    display: block !important;
  }
  html #header .navbar {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  html #header .navbar ul {
    background: #e5e5e5;
    display: flex;
    flex-flow: column;
    text-align: center;
    height: 100vh;
    width: 100%;
  }
  html #header .navbar ul li {
    padding: 20px;
  }
  html #header .navbar ul li a {
    font-size: 24px !important;
  }
  html #header .navbar ul li a img {
    display: none;
  }
  html #header .navbar ul :nth-child(8) {
    display: none;
  }
  html #header .navbar ul :nth-child(9) {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  html {
    font-size: 45%;
  }
  html #header .logo {
    padding-left: 30px;
  }
  html #header .menu {
    display: block !important;
  }
  html #header .navbar {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  html #header .navbar ul {
    background: #e5e5e5;
    display: flex;
    flex-flow: column;
    text-align: center;
    height: 100vh;
    width: 100%;
  }
  html #header .navbar ul li {
    padding: 20px;
  }
  html #header .navbar ul li a {
    font-size: 20px !important;
  }
  html #header .navbar ul li a img {
    display: none;
  }
  html #header .navbar ul :nth-child(8) {
    display: none;
  }
  html #header .navbar ul :nth-child(9) {
    display: none;
  }
}
.banner {
  background-image: linear-gradient(0deg, #e25500 0%, #ffae22 100%);
}
.banner .container {
  padding: 0 15px;
  margin: auto;
  max-width: 1170px;
  width: 100%;
  display: flex;
}
.banner .container .banner-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
}
.banner .container .banner-text h1 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  filter: drop-shadow(0.5px 0.866px 0.5px rgba(0, 0, 0, 0.34));
  padding-bottom: 6px;
}
.banner .container .banner-text h2 {
  font-size: 16px;
  color: #ffd898;
  font-weight: bold;
  line-height: 17px;
  text-transform: uppercase;
  filter: drop-shadow(0.5px 0.866px 0.5px rgba(0, 0, 0, 0.34));
}
.banner .container .banner-image {
  margin: 20px 0 -23px 0;
}

@media screen and (max-width: 750px) {
  html {
    font-size: 45%;
  }
  html .banner .banner-top {
    display: grid;
    grid-template-columns: repeat(2, 275px 370px);
  }
  html .banner .banner-top .banner-text h1 {
    width: 300px;
    font-size: 22px;
  }
  html .banner .banner-top .banner-text p {
    width: 300px;
    font-size: 14px;
  }
  html .banner .banner-top .banner-image .top {
    width: 92%;
    position: absolute;
    top: 40px !important;
  }
  html .banner .banner-top .banner-image .base {
    width: 92%;
    position: absolute;
    bottom: -16px !important;
  }
  html .banner .banner-top .banner-image .text {
    width: 67%;
    position: absolute;
    top: 48px;
    left: 48px;
  }
}
@media screen and (max-width: 425px) {
  html {
    font-size: 45%;
  }
  html .banner .banner-top {
    display: block;
    padding-left: 70px;
  }
  html .banner .banner-top .banner-text {
    text-align: center;
  }
  html .banner .banner-top .banner-text h1 {
    padding-top: 15px;
    font-size: 17px;
  }
  html .banner .banner-top .banner-text p {
    width: 300px;
    font-size: 12px;
  }
  html .banner .banner-top .banner-image {
    padding-left: 40px;
  }
  html .banner .banner-top .banner-image .top {
    position: absolute;
    top: 32px !important;
    width: 65%;
  }
  html .banner .banner-top .banner-image .base {
    position: absolute;
    bottom: -132px !important;
    left: 40px;
    width: 65%;
  }
  html .banner .banner-top .banner-image .text {
    position: absolute;
    left: 71px;
    top: 38px;
    width: 47%;
  }
}
#main {
  background-color: #fcfcfc;
  filter: drop-shadow(0 0 3.5px rgba(0, 0, 0, 0.75));
}
#main .tagline {
  padding: 0 15px;
  margin: auto;
  max-width: 1170px;
  width: 100%;
  background-image: linear-gradient(0deg, #f1f1f1 0%, #ffffff 3%, #ffffff 100%, #e9ebef 100%);
  filter: brightness(98%);
  display: flex;
}
#main .tagline .tagline-text {
  flex: 0 0 60%;
  padding: 25px 0;
}
#main .tagline .tagline-text h2 {
  font-size: 20px;
  font-style: italic;
  font-family: Georgia, serif;
  color: #252525;
}
#main .tagline .tagline-link {
  display: flex;
  gap: 20px;
  padding: 25px 0;
}
#main .tagline .tagline-link .sign-up {
  font-family: "Arial";
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  height: 42px;
  outline: none;
  width: 210px;
  cursor: pointer;
  background-image: linear-gradient(0deg, #e25500 0%, #ffae22 100%);
}
#main .tagline .tagline-link .sign-up:hover {
  background-image: linear-gradient(0deg, #ffae22 0%, #e25500 100%);
  color: #ffffff;
}
#main .tagline .tagline-link .learn {
  font-family: "Arial";
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  height: 42px;
  outline: none;
  width: 210px;
  cursor: pointer;
  background-image: linear-gradient(0deg, #ffae22 0%, #e25500 100%);
}
#main .tagline .tagline-link .learn:hover {
  background-image: linear-gradient(0deg, #e25500 0%, #ffae22 100%);
  color: #ffffff;
}

#section {
  padding: 0 15px;
  margin: auto;
  max-width: 1170px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 750px 370px);
  grid-gap: 30px;
}
#section .section-container h2 {
  font-size: 18px;
  color: #2e2e2e;
  letter-spacing: -1;
  text-transform: uppercase;
  font-family: "Arial";
  padding-top: 20px;
}
#section .section-container .content h2 {
  font-size: 14px;
  color: #f14949;
  font-family: Arial;
}
#section .section-container .content p {
  margin: 5px 0;
}
#section .aside-right {
  margin: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
#section .aside-right h2 {
  background-color: #f4f4f4;
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px;
  color: #2e2e2e;
  font-family: Arial;
}
#section .aside-right .article-content {
  display: flex;
  gap: 20px;
  padding: 8px;
  border-top: 1px solid #e5e5e5;
}
#section .aside-right .article-content .holder {
  border: 1px solid #e5e5e5;
  border-radius: 1px;
  width: 100px;
}
#section .aside-right .article-content .holder img {
  object-fit: cover;
  height: 60px;
  padding: 5px;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
#section .aside-right .article-content .holder-content {
  line-height: 20px;
}
#section .aside-right .article-content .holder-content h3 {
  padding-top: 10px;
  font-size: 14px;
  color: #f14848;
  font-family: "Lucida Sans";
}
#section .aside-right .article-content .holder-content p {
  font-size: 11px;
  color: #666666;
}

@media screen and (max-width: 750px) {
  #main .tagline {
    display: block;
  }
  #main .tagline .tagline-text {
    text-align: center;
    padding: 15px 80px;
  }
  #main .tagline .tagline-text h2 {
    font-size: 18px;
    padding: 0;
  }
  #main .tagline .tagline-link {
    padding: 12px 135px !important;
  }
  #main #section h2 {
    text-align: center;
    padding: 15px 0;
  }
  #main #section .content h2 {
    padding: 3px;
    margin: 4px 0;
  }
  #main #section .content p {
    width: 350px;
    line-height: 20px;
    text-align: justify;
    font-size: 12px;
    padding: 10px 0;
  }
  #main #section .aside_left {
    position: absolute;
    top: 60px;
  }
  #main #section .aside_left h2 {
    padding: 10px;
  }
}
@media screen and (max-width: 425px) {
  #main .tagline {
    display: block;
  }
  #main .tagline .tagline-text {
    text-align: center;
    padding: 15px;
  }
  #main .tagline .tagline-text h2 {
    font-size: 14px;
    padding: 0;
    width: 350px;
  }
  #main .tagline .tagline-btn {
    padding: 0 !important;
    text-align: center;
    padding-bottom: 20px !important;
  }
  #main .tagline .tagline-btn .sign-up,
#main .tagline .tagline-btn .learn {
    font-size: 12px;
    height: 35px;
  }
  #main #section h2 {
    text-align: center;
    padding: 10px 0;
  }
  #main #section .content h2 {
    padding: 3px;
    margin: 2px 0;
  }
  #main #section .content p {
    width: 390px;
    line-height: 20px;
    text-align: justify;
    font-size: 12px;
    padding: 10px 0;
  }
  #main #section .aside-right {
    display: none;
  }
  #main #section .aside-right h2 {
    padding: 10px;
  }
}
.feature {
  background-color: #fcfcfc;
}
.feature .container {
  padding: 0 15px;
  margin: auto;
  max-width: 1170px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 30px;
}
.feature .container .fig_1 {
  margin-top: 10%;
  border: 1px solid #e5e5e5;
  padding: 4%;
  background-image: linear-gradient(0deg, #ebebeb 0%, #ffffff 130%);
}
.feature .container .fig_1 img {
  width: 350px;
  object-position: 100% 0%;
  height: 194px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  object-fit: cover;
  padding: 10px;
  width: 100%;
}
.feature .container .fig_1 figcaption {
  display: flex;
  justify-content: space-between;
  color: #343434;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 3px;
}
.feature .container .fig_1 figcaption button {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #f4f4f4;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.feature .container .fig_1 figcaption button .fa-solid {
  color: #999999;
  font-size: 14px;
}

@media screen and (max-width: 750px) {
  #feature .container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  #feature .container .fig_1 {
    margin: 0 !important;
  }
  #feature .container .fig_1 img {
    height: 250px;
  }
  #feature .container #fig_3 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 425px) {
  .feature .container {
    display: block;
    margin: 20px 0;
  }
  .feature .container .fig_1 {
    margin-top: 0 !important;
  }
}
#footer {
  background-image: linear-gradient(0deg, #e25500 0%, #ffae22 100%);
  filter: drop-shadow(0 0 2.1px black);
}
#footer .container {
  padding: 0 15px;
  margin: auto;
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
#footer .container .footer-navbar ul li {
  display: inline;
  list-style-type: none;
}
#footer .container .footer-navbar ul li a {
  color: #fffffe;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-family: Arial;
  padding: 20px;
  text-transform: uppercase;
}
#footer .container small {
  color: #ffffff;
  font-size: 11px;
  font-family: "Lucida Sans";
  letter-spacing: 0.5px;
  line-height: 25px;
}

@media screen and (max-width: 750px) {
  #footer .container {
    padding: 0;
    display: block;
    text-align: center;
  }
  #footer .container .footer-navbar {
    padding-top: 10px;
  }
  #footer .container .footer-navbar ul {
    padding: 10px;
  }
  #footer .container .footer-navbar ul li a {
    font-size: 11px;
    padding: 8px;
  }
}
@media screen and (max-width: 425px) {
  #footer .container {
    display: block;
    text-align: center;
  }
  #footer .container .footer-navbar {
    line-height: 20px;
    padding-top: 0 !important;
  }
  #footer .container .footer-navbar ul {
    padding-bottom: 0px !important;
  }
  #footer .container .footer-navbar ul li a {
    font-size: 11px;
    padding-left: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

body {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  padding-bottom: 10px;
}

.active {
  color: #ec4706 !important;
}

#set_1 {
  object-position: 100% 0% !important;
}

#set_2 {
  height: 225px !important;
  object-position: 10% 100% !important;
}

/*# sourceMappingURL=style.css.map */
