#header {
  background-color: #f1f3f2;
  filter: drop-shadow(0.5px 0.866px 2.5px rgba(0, 0, 0, 0.51));
}
#header .header-main {
  padding: 0 15px;
  margin: auto;
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0 10px 0;
}
#header .header-main .logo a img {
  width: 155px;
  height: 35px;
}
#header .header-main .navbar {
  padding: 6px;
}
#header .header-main .navbar ul li {
  display: inline-block;
  list-style-type: none;
}
#header .header-main .navbar ul li a {
  text-decoration: none;
  color: #252525;
  font-size: 14px;
  padding: 0 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial;
  position: relative;
}
#header .header-main .navbar ul li a:hover {
  color: #000000;
}
#header .header-main .navbar ul li a img {
  position: absolute;
  bottom: -15px;
}

.banner {
  background-image: linear-gradient(0deg, #e25500 0%, #ffae22 100%);
  height: 264px;
}
.banner .banner-top {
  padding: 0 15px;
  margin: auto;
  max-width: 1170px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 580px auto);
  grid-gap: 90px;
}
.banner .banner-top .banner-text h1 {
  padding-top: 13%;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  filter: drop-shadow(0.5px 0.866px 0.5px rgba(0, 0, 0, 0.34));
}
.banner .banner-top .banner-text p {
  padding-top: 10px;
  font-size: 17px;
  color: #ffd898;
  font-weight: bold;
  width: 460px;
  text-transform: uppercase;
  filter: drop-shadow(0.5px 0.866px 0.5px rgba(0, 0, 0, 0.34));
}
.banner .banner-top .banner-image {
  position: relative;
  padding-top: 20px;
}
.banner .banner-top .banner-image .text {
  position: absolute;
  top: 31px;
  left: 64px;
  object-fit: cover;
}
.banner .banner-top .banner-image .base {
  position: absolute;
  left: 0;
  bottom: -12px;
}

#main {
  background-color: #fcfcfc;
  filter: brightness(98%);
}
#main #section-top {
  padding: 0 15px;
  margin: auto;
  max-width: 1170px;
  width: 100%;
  background-image: linear-gradient(0deg, #f1f1f1 0%, #ffffff 5%, #ffffff 100%, #e9ebef 100%);
  display: flex;
}
#main #section-top .sect-text {
  flex: 0 0 60%;
  padding: 25px 0;
}
#main #section-top .sect-text h4 {
  font-size: 20px;
  font-style: italic;
  font-family: Georgia, serif;
  color: #252525;
  width: 540px;
}
#main #section-top .sect-btn {
  display: flex;
  gap: 20px;
  padding: 25px 0;
}
#main #section-top .sect-btn .sign-up {
  font-family: "Arial";
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  background-image: linear-gradient(0deg, #e25500 0%, #ffae22 100%);
  color: #ffffff;
  text-transform: uppercase;
  height: 42px;
  outline: none;
  width: 210px;
  cursor: pointer;
}
#main #section-top .sect-btn .learn {
  font-family: "Arial";
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  background-image: linear-gradient(0deg, #ffae22 0%, #e25500 100%);
  color: #ffffff;
  text-transform: uppercase;
  height: 42px;
  outline: none;
  width: 210px;
  cursor: pointer;
}

#section {
  padding: 0 15px;
  margin: auto;
  max-width: 1170px;
  width: 100%;
  background-image: linear-gradient(0deg, #f1f1f1 0.5%, #ffffff 1%, #ffffff 100%, #e9ebef 100%);
  position: relative;
}
#section h2 {
  font-size: 18px;
  color: #2e2e2e;
  letter-spacing: -1;
  text-transform: uppercase;
  font-family: "Arial";
  padding-top: 20px;
}
#section .content h4 {
  margin: 25px 0 8px 0;
  font-size: 14px;
  color: #f14949;
  font-family: Arial;
}
#section .content p {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  padding-bottom: 10px;
  width: 750px;
}
#section .aside_left {
  position: absolute;
  top: 20px;
  right: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
#section .aside_left h2 {
  background-color: #f4f4f4;
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px;
  color: #2e2e2e;
  font-family: Arial;
}
#section .aside_left .art_content {
  display: flex;
  gap: 20px;
  padding: 8px;
  border-top: 1px solid #e5e5e5;
}
#section .aside_left .art_content .holder {
  border: 1px solid #e5e5e5;
  border-radius: 1px;
  width: 100px;
}
#section .aside_left .art_content .holder img {
  object-fit: cover;
  height: 60px;
  padding: 5px;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
#section .aside_left .art_content .holder_content {
  line-height: 20px;
}
#section .aside_left .art_content .holder_content h3 {
  padding-top: 10px;
  font-size: 14px;
  color: #f14848;
  font-family: "Lucida Sans";
}
#section .aside_left .art_content .holder_content p {
  color: #bfbfbf;
  font-size: 12px;
}

#fig-main {
  background-color: #fcfcfc;
}
#fig-main .fig-back {
  padding: 0 15px;
  margin: auto;
  max-width: 1170px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#fig-main .fig-back .fig_1 {
  margin-top: 10%;
  border: 1px solid #e5e5e5;
  padding: 4%;
  background-image: linear-gradient(0deg, #ebebeb 0%, #ffffff 130%);
}
#fig-main .fig-back .fig_1 img {
  width: 350px;
  object-position: 100% 10%;
  height: 194px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  object-fit: cover;
  padding: 10px;
}
#fig-main .fig-back .fig_1 figcaption {
  display: flex;
  justify-content: space-between;
  color: #343434;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 3px;
}
#fig-main .fig-back .fig_1 figcaption button {
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: #f8f8f8;
  padding: 4px;
}
#fig-main .fig-back .fig_1 figcaption button .fa-solid {
  color: #696969;
  font-size: 14px;
}

#footer {
  background-image: linear-gradient(0deg, #e25500 0%, #ffae22 100%);
  margin: 20px 0 3px 0;
}
#footer .footer_content {
  padding: 0 15px;
  margin: auto;
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
#footer .footer_content .footer-nav ul li {
  display: inline;
  list-style-type: none;
}
#footer .footer_content .footer-nav ul li a {
  color: #fffffe;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial;
  padding: 20px;
  text-transform: uppercase;
}
#footer .footer_content small {
  color: #ffffff;
  font-size: 10px;
  font-family: "Lucida Sans";
  line-height: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

.active {
  color: #ec4706 !important;
}

#set_1 {
  object-position: 100% 0% !important;
}

#set_2 {
  height: 225px !important;
  object-position: 10% 100% !important;
}

/*# sourceMappingURL=style.css.map */
