.banner{
    background-image: linear-gradient(0deg, #e25500 0%, #ffae22 100%);
    .container{
        @include container;
        display: flex;
        gap: 40px;
        .banner-text{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-flow: column;
            h1{
                color: $white;
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 30px;
                filter: drop-shadow(0.5px 0.866px 0.5px rgba(0,0,0,0.34));
                padding-bottom:6px;
            }
            p{
                font-size: 16px;
                color:$smoke;
                font-weight: bold;
                line-height: 17px;
                text-transform: uppercase;
                filter: drop-shadow(0.5px 0.866px 0.5px rgba(0,0,0,0.34));
            }     
        }
        .banner-image{
            transform: translateY(30px);
            z-index: 1;
        }
    }
}
// Tablet Responsive
@media screen and (max-width:750px){
    html{
        font-size:45%;
        .banner{
            .container{
                .banner-text{
                    h1{
                        font-size: 22px;
                        line-height: 25px;
                    }
                    p{
                        font-size: 14px;
                        br{
                            display: none;
                        }
                    }
                }
                .banner-image{
                    img{
                        width: 300px;
                        transform: translateY(-8px);
                    }
                }
            }
        }
    }
}
// Mobile Responsive
@media screen and (max-width:425px){
    html{
        font-size:45%;
        .banner{
            .container{
                display: block;
                .banner-text{
                    text-align: center;
                    h1{
                        padding-top: 15px;
                        font-size: 17px;
                        line-height: 20px;
                    }
                }
                .banner-image{
                    text-align: center;
                }
            }
        }
    }
}