@import "button";
#main{
    background-color: $main_back;
    filter: drop-shadow(0 0 3.5px rgba(0,0,0,0.75));
    .tagline{
        @include container;   
        background-image: linear-gradient(0deg, #f1f1f1 0%, #ffffff 3%, #ffffff 100%, #e9ebef 100%);
        filter: brightness(98%);
        display: flex;      
        .tagline-text{
            flex: 0 0 60%;
            padding: 25px 0;
            h2{
                font-size: 20px;
                font-style: italic;
                font-family: Georgia, serif;
                color: $light_black;
            }
        }
        .tagline-link{
            display: flex;
            gap: 20px;
            padding: 25px 0;
            .sign-up{
                @include button;
                background-image: linear-gradient(0deg, #e25500 0%, #ffae22 100%);
                padding: 10px 50px;
                &:hover{
                    background-image: linear-gradient(0deg, #ffae22 0%, #e25500 100%);
                    color: $white;
                    }
                }
                .learn{
                    @include button;
                    background-image: linear-gradient(0deg, #ffae22 0%, #e25500 100%);
                    padding: 10px 50px;
                    &:hover{
                        background-image: linear-gradient(0deg, #e25500 0%, #ffae22 100%);
                        color: $white;
                    }
                    }
                }
            }
        }
        #section{
        @include container;
        display: grid;
        grid-template-columns: repeat(2, 750px 370px);
        grid-gap: 30px;
        .section-container{
            h2{
            font-size: 18px;
            color: $dark_black;
            letter-spacing: -1;
            text-transform: uppercase;
            font-family: "Arial";
            padding-top: 20px;
            }
            .content{
                h2{
                    font-size: 14px;
                    color: $red;
                    font-family: Arial;
                }
                p{
                    margin: 5px 0;
                }
            }
        }
        .aside-right{
            .aside-content{
                margin: 20px;
                border: 1px solid $bord_asid;
                border-radius: 3px;
                
                h2{
                    background-color: $back;
                    text-transform: uppercase;
                    font-size: 18px;
                    padding: 15px;
                    color: $dark_black;
                    font-family: Arial;
                }
                .article-content{
                    display: flex;
                    gap: 20px;
                    padding: 8px;
                    border-top: 1px solid $bord_asid ;
                    .holder{
                        border: 1px solid $bord_asid;
                        border-radius: 1px;
                        width:100px;
                        img{
                            object-fit: cover;
                            height: 60px;
                            padding: 5px;
                            width: 100%;
                            margin-bottom: 0;
                            padding-bottom: 0;
                        }
                    }
                    .holder-content{
                        line-height: 20px;
                        h3{
                            padding-top:10px;
                            font-size: 14px;
                            color:$light;
                            font-family: 'Lucida Sans';
                        }
                        p{
                            font-size:11px;
                            color:$bargnd;
                        }
                    }
                }
            }
        }
    }
    // Tablet responsive
@media screen and (max-width:750px){
    #main{
        .tagline{
            gap: 30px;
         .tagline-text{
             flex: 0 0 55%;
             h2{
                font-size: 17px;
                br{
                    display: none;
                    }
                }
            } 
            .tagline-link{
                .sign-up{
                    text-align: center;
                    padding: 8px !important;
                    width: 140px !important;
                    height: 38px;
                    font-size: 12px;
                }
                .learn{
                    text-align: center;
                    padding: 8px !important;
                    width: 140px !important;
                    height: 38px;
                    font-size: 12px;
                }
            }
        }
        #section{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 40px;
            .section-container{
                h2{
                    padding: 15px 0 5px 0;
                }
                .content{
                    h2{
                        padding: 1px;
                        margin:  1px 0;
                    }
                    p{
                        line-height: 20px;
                        text-align: justify;
                        font-size: 12px;
                        padding: 10px 0;
                    }
                }
            }
            .aside-right{
                transform: translateY(10%);
                .aside-content{
                    h2{
                    padding: 10px !important;
                    }

                }
            }
        }
    }
}
// Mobile responsive
@media screen and (max-width:425px){
    #main{
    .tagline{
            display: block;
         .tagline-text{
             text-align: center;
             padding: 10px;
             h2{
                font-size: 14px;
                padding: 0;
                width: 350px;
                }
            } 
            .tagline-link{ 
                padding: 10px;
                justify-content: space-around;
            }
        }
        #section{
            display: block;
            .section-container{
                .content{
                    h2{
                        padding: 3px;
                        margin: 2px 0;
                    }
                    p{
                        line-height: 20px;
                        text-align: justify;
                        font-size: 12px;
                    }
                }
            }
            .aside-right{
                .aside-content{
                    margin: 0px !important;
                    transform: translateY(-43px);
                }
            }
        }
    }
}