@import "variables";
@import "MaxinFunction";
@import "Header";
@import "BannerSection";
@import "MainSection";
@import "FigureSection";
@import "Foooter";
@import "button";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}
body{
    font-size: 14px;
    line-height: 21px;
    color: $bargnd;
    padding-bottom: 10px;
}
.active{
    color: $orange !important;
}
#set_1{
    object-position: 100% 0% !important;
}
#set_2{
    height: 225px !important;
    object-position: 10% 100% !important;
}