#fig-main{
    background-color: $main_back;
    .fig-back{
        @include container;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        .fig_1{
            margin-top:10%;
            border: 1px solid $bord_asid;
            padding: 4%;
            background-image: linear-gradient(0deg, #ebebeb 0%, #ffffff 130%);
            img{
                width: 350px;
                object-position: 100% 10%;
                height: 194px;
                border: 1px solid $bord_asid;
                border-radius: 5px;
                object-fit: cover;
                padding: 10px;
            }
            figcaption{
                display: flex;
                justify-content: space-between;
                color: $fig_cap;
                font-family: Arial, sans-serif;
                font-weight: bold;
                font-size: 14px;
                padding: 3px;
                button{
                    border: none;
                    outline:none;
                    border-radius: 3px;
                    background-color: $btn;
                    padding: 4px;
                    .fa-solid{
                        color: $arrow;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}