@import "variables";
#header{
    background-color: $grey_head;
    filter: drop-shadow(0.5px 0.866px 2.5px rgba(0,0,0,0.51));
    position: sticky;
    top: 0;
    z-index: 9999;
    .header-main{
        @include container;
        display: flex;
        justify-content: space-between;
        padding: 15px 0 10px 0;
        .logo{
            a{
                img{
                    width: 155px;
                    height: 35px;
                }
            }
        }
        .menu{
            position: absolute;
            top: 22px;
            right: 20px;
            z-index: 3;
            display: none;
            i{
                font-size: 25px;
                cursor: pointer;
            }
        }
        .navbar{
            padding: 6px;
            ul{
                li{
                    display: inline-block;
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: $light_black;
                        font-size: 14px;
                        padding: 0 15px;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-family: Arial;
                        position: relative;
                        &:hover{
                            color: $black;
                        }
                        img{
                            position: absolute;
                            bottom: -15px;
                        }
                    }
                }
            }
        }
    }
}
// Tablet Responsive
@media screen and (max-width:750px){
    html{
        font-size: 45%;
        #header{
            .logo{
                padding-left:30px;
            }
            .menu{
                display: block !important;
            }
            .navbar{
                height: 100%;
                width: 100% ;
                position: absolute;
                top: 0;
                left: 0;
                display: none;
                ul{
                    background: $bord_asid;
                    display: flex;
                    flex-flow: column ;
                    text-align: center;
                    height: 100vh ;
                    width: 100%;
                    li{
                        padding: 20px;
                        a{
                            font-size: 24px !important;
                            img{
                                display: none; 
                            }
                        }
                    }
                    :nth-child(8){
                        display: none;
                    }
                    :nth-child(9){
                        display: none;
                    }
                }
            }
        }
    }
}
// Mobile Responsive
@media screen and (max-width:425px){
    html{
        font-size: 45%;
        #header{    
            .logo{
                padding-left:30px;
            }
            .menu{
                display: block !important;
            }
            .navbar{
                height: 100%;
                width: 100% ;
                position: absolute;
                top: 0;
                left: 0;
                display: none;
                ul{
                    background: $bord_asid;
                    display: flex;
                    flex-flow: column ;
                    text-align: center;
                    height: 100vh ;
                    width: 100%;
                    li{
                        padding: 20px;
                        a{
                            font-size: 20px !important;
                            img{
                                display: none; 
                            }
                        }
                    }
                    :nth-child(8){
                        display: none;
                    }
                    :nth-child(9){
                        display: none;
                    }
                }
            }
        }
    }
}